node_modules
# Keep environment variables out of version control
.env

/generated/prisma

dist/
src/**/*.js
src/**/*.d.ts
src/**/*.js.map
src/**/*.d.ts.map
prisma.config.js
prisma.config.d.ts
prisma.config.js.map
prisma.config.d.ts.map